html {
  background-color: white;
}

blockquote {
  background-color: #f6f6f6;
  padding: 1rem 2rem;
}
body {
  font-family: roboto;
  margin: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.white-font {
  color: whitesmoke;
}
.nounderscore {
  text-decoration: none;
}

.underscore {
  text-decoration: underline;
}

h2 {
  color: black;
}
small {
  color: black;
}

.onHover:hover {
  text-decoration: underline;
}
